body
{
background-color: #fafbf3;
font-family: "Calibri", Arial, Helvetica;
color: black;
margin: 0;
padding: 0;
}

#main
{
margin-top: 50px;
color: rgb(50,50,50);
}

#main .title
{
background-color: #d83c18;
color: white;
padding: 4px;
font-size: 18px;
padding-left: 20px;
}

#main .title a, #main .title a:active, #main .title a:visited, #main.title a:link
{
font-size: 14px;
font-style: normal;
padding-left: 10px;
text-decoration: none;
color: white;
}

#main .item
{
background-color: white;
width: 300px;
border: 1px solid #e8eadd;
}

#main .item .name
{
color: black;
font-size: 26px;
margin-bottom: 20px;
}
#projects a, #projects a:active, #projects a:visited, #projects a:link
{
display: block;
padding: 4px;
color: #4591dc;
text-decoration: none;
font-size: 12px;
}
#projects a:hover
{
background-color: #d83c18;
color: white;
}
